Repository Eterion/ES6css: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Module demo
  demo/module/module-group.css
  demo/module/module-group.scss
  demo/module/module.css
  demo/module/module.scss
Due: prettier --write, stylelint --fix

Media mixins demo
  demo/media/media-between.css
  demo/media/media-between.scss
  demo/media/media-only.css
  demo/media/media-only.scss
  demo/media/media-up-from.css
  demo/media/media-up-from.scss
  demo/media/media-up-to.css
  demo/media/media-up-to.scss
Due: prettier --write, stylelint --fix

Support css custom properties with var syntax
  dist/_const.scss
  dist/_mixin.scss
  dist/_system.scss
  dist/fn/_get.scss
  dist/mixin/_css-custom-properties.scss
  docs/const.md
  docs/fn.md
  docs/mixin.md
Due: prettier --write, stylelint --fix

Prettier --fix
  docs/const.md
Due: prettier --write

Demo of css custom properties
  demo/css-custom-properties/module-group.css
  demo/css-custom-properties/module-group.scss
  demo/css-custom-properties/module.css
  demo/css-custom-properties/module.scss
Due: prettier --write, stylelint --fix

Documentation updates
  README.md
  docs/README.md
  docs/guide.md
Due: prettier --write

Fixed media-between mixin
  demo/media/media-between.css
  dist/mixin/_media-between.scss
Due: prettier --write, stylelint --fix

Fixed media-only mixin
  demo/media/media-only.css
  demo/media/media-only.scss
  dist/mixin/_media-only.scss
Due: prettier --write, stylelint --fix

Removed old guide reference
  docs/const.md
Due: prettier --write

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/js/5.9b161bbe.js
  assets/js/5.e48c4c3f.js
  assets/js/6.050aa36f.js
  assets/js/6.7e18222f.js
  assets/js/7.13ecc02a.js
  assets/js/7.de5d647c.js
  assets/js/8.a3a34252.js
  assets/js/8.bcd50322.js
  assets/js/9.3e7daa1e.js
  assets/js/app.60023106.js
  assets/js/app.e7d85f00.js
  const.html
  fn.html
  guide.html
  index.html
  mixin.html
Due: prettier --write

v1.1.0
  package.json
Due: none

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/js/app.7bd7602d.js
  const.html
  fn.html
  index.html
  mixin.html
Due: prettier --write

Fixed case when get function couldn't import property from non-group module
  dist/fn/_get.scss
Due: prettier --write, stylelint --fix

New css custom properties option, for better variable referencing
  dist/_const.scss
  dist/fn/_get.scss
  dist/mixin/_css-custom-properties.scss
  docs/const.md
Due: prettier --write, stylelint --fix

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/js/6.7e18222f.js
  assets/js/6.d32a875a.js
  assets/js/app.7bd7602d.js
  assets/js/app.95c06b58.js
  const.html
  fn.html
  index.html
  mixin.html
Due: prettier --write

v1.2.0
  package.json
Due: none

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/js/app.c96712e2.js
  const.html
  fn.html
  index.html
  mixin.html
Due: prettier --write

Chore: dependency updates
  package.json
  yarn.lock
Due: none

Removed all z-index functionality
  dist/_const.scss
  dist/_mixin.scss
  dist/_system.scss
  dist/const/_z-index.scss
  dist/fn/_compute-props.scss
  dist/mixin/_export.scss
  dist/mixin/_z-index.scss
  docs/const.md
  docs/mixin.md
Due: prettier --write, stylelint --fix

Experimental: monochrome and palette functions
  dist/_const.scss
  dist/_fn.scss
  dist/const/_color.scss
  dist/fn/_monochrome.scss
  dist/fn/_palette.scss
  docs/const.md
Due: prettier --write, stylelint --fix

Hue name function
  dist/_fn.scss
  dist/_system.scss
  dist/fn/_hue-name.scss
Due: prettier --write, stylelint --fix

Merged functions and utils folders
  dist/_const.scss
  dist/_esm.scss
  dist/_fn.scss
  dist/_utils.scss
  dist/const/_media.scss
  dist/fn/_clear-unit.scss
  dist/fn/_color-spectrum.scss
  dist/fn/_insert-nth.scss
  dist/fn/_interpolate.scss
  dist/fn/_map-deep-get.scss
  dist/fn/_map-filter.scss
  dist/fn/_map-sort.scss
  dist/fn/_media-query.scss
  dist/fn/_media.scss
  dist/fn/_str-replace.scss
  dist/fn/_to-class.scss
  dist/fn/_to-id.scss
  dist/fn/_to-unicode.scss
  dist/mixin/_media-between.scss
  dist/mixin/_media-only.scss
  dist/mixin/_media-up-from.scss
  dist/mixin/_media-up-to.scss
Due: prettier --write, stylelint --fix

Removed tiles mixin
  dist/_mixin.scss
  dist/mixin/_tiles-container.scss
  dist/mixin/_tiles-item.scss
  dist/mixin/_tiles.scss
Due: prettier --write, stylelint --fix

Removed vuepress with external docs
  .travis.yml
  README.md
  docs/.vuepress/components/Tip.vue
  docs/.vuepress/config.js
  docs/.vuepress/override.styl
  docs/.vuepress/public/hero.png
  docs/.vuepress/style.styl
  docs/README.md
  docs/const.md
  docs/fn.md
  docs/mixin.md
  package.json
  yarn.lock
Due: prettier --write

Chore: dependency update
  package.json
  yarn.lock
Due: none

Fixed map-sort docs warning
  dist/fn/_map-sort.scss
Due: prettier --write, stylelint --fix

Export default variable made part of constants
  dist/_esm.scss
  dist/_export.scss
  dist/const/_export.scss
  dist/mixin/_export.scss
Due: prettier --write, stylelint --fix

Defaults renamed to system
  dist/const/_color.scss
  dist/const/_export.scss
  dist/const/_font.scss
  dist/const/_media.scss
Due: prettier --write, stylelint --fix

New docs part of readme
  .travis.yml
  README.md
  package.json
  scripts/docs.js
  yarn.lock
Due: prettier --write

Prettier --fix
  README.md
Due: prettier --write

Docs improvements
  README.md
  scripts/docs.js
Due: prettier --write

No spaces around vertical bar in code
  README.md
  scripts/docs.js
Due: prettier --write

Code vertical bar replaced with simple text
  README.md
  scripts/docs.js
Due: prettier --write

Constants merged to a single file
  dist/_const.scss
  dist/const/_color.scss
  dist/const/_export.scss
  dist/const/_font.scss
  dist/const/_media.scss
Due: prettier --write, stylelint --fix

Sort items and minor optimizations
  scripts/docs.js
Due: prettier --write

Convert known values to its unicode counterparts
  dist/fn/_to-unicode.scss
Due: prettier --write, stylelint --fix

Removed example code from docs
  scripts/docs.js
Due: prettier --write

Minor docs improvements
  scripts/docs.js
Due: prettier --write

Move description below code
  scripts/docs.js
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,scss,md}
  stylelint --fix: any of: **/*.scss
