Repository Eterion/ES6css: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Travis deploy test
  .travis.yml
Due: none

Removed deploy test
  .travis.yml
Due: none

Variable name change
  dist/const/_export.scss
  dist/fn/_compute-props.scss
Due: prettier --write, stylelint --fix

Fixed defaults map
  dist/mixin/_export.scss
Due: prettier --write, stylelint --fix

Readme update
  README.md
  readme/const.md
  readme/export.md
Due: prettier --write

Fixed md links
  README.md
  readme/const.md
Due: prettier --write

Manualy generated docs
  .gitignore
  .npmignore
  docs/assets/css/main.css
  docs/assets/images/favicon.png
  docs/assets/images/logo_full_compact.svg
  docs/assets/images/logo_full_inline.svg
  docs/assets/images/logo_light_compact.svg
  docs/assets/images/logo_light_inline.svg
  docs/assets/js/main.js
  docs/assets/js/main.min.js
  docs/assets/js/search.js
  docs/assets/js/sidebar.js
  docs/assets/js/vendor/fuse.min.js
  docs/assets/js/vendor/jquery.min.js
  docs/assets/js/vendor/prism.min.js
  docs/index.html
Due: prettier --write

0.3.0
  package.json
Due: none

New media-direction constant better control of media queries
  dist/const/_media.scss
  dist/fn/_media-query.scss
  dist/mixin/_media-between.scss
  dist/mixin/_media-only.scss
  dist/mixin/_media-up-from.scss
  dist/mixin/_media-up-to.scss
  docs/index.html
  readme/const.md
Due: prettier --write, stylelint --fix

v0.4.0
  package.json
Due: none

Renamed media direction constant
  dist/const.scss
  dist/const/media.scss
  dist/fn/media-query.scss
  dist/mixin/media-between.scss
  dist/mixin/media-only.scss
  dist/mixin/media-up-from.scss
  dist/mixin/media-up-to.scss
Due: prettier --write, stylelint --fix

Removed generated docs
  docs/assets/css/main.css
  docs/assets/images/favicon.png
  docs/assets/images/logo_full_compact.svg
  docs/assets/images/logo_full_inline.svg
  docs/assets/images/logo_light_compact.svg
  docs/assets/images/logo_light_inline.svg
  docs/assets/js/main.js
  docs/assets/js/main.min.js
  docs/assets/js/search.js
  docs/assets/js/sidebar.js
  docs/assets/js/vendor/fuse.min.js
  docs/assets/js/vendor/jquery.min.js
  docs/assets/js/vendor/prism.min.js
  docs/index.html
Due: prettier --write

Removed docs scripts
  .gitignore
  .huskyrc.json
  .npmignore
  .prettierignore
  package.json
  yarn.lock
Due: none

Removed sassdoc configuration
  .sassdoc.yml
Due: none

Renamed test folder
  tests/fn/clear-unit.scss
  tests/fn/color.scss
  tests/index.js
  tests/resources.scss
Due: prettier --write, stylelint --fix

Vuepress config
  docs/.vuepress/config.es6
  docs/.vuepress/config.js
  package.json
  yarn.lock
Due: prettier --write

Reverted test folder rename
  test/fn/clear-unit.scss
  test/fn/color.scss
  test/index.js
  test/resources.scss
Due: prettier --write, stylelint --fix

What's this
  docs/.vuepress/config.es6
  docs/readme.md
Due: prettier --write

Deploy script from vuepress
  deploy.sh
Due: none

Dependency update
  package.json
  yarn.lock
Due: none

Travis deploy
  .travis.yml
  deploy.sh
Due: none

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/css/0.styles.a2343422.css
  assets/img/search.83621669.svg
  assets/js/2.fe21896a.js
  assets/js/3.c764d050.js
  assets/js/4.46624aeb.js
  assets/js/app.6a98aef6.js
  index.html
Due: prettier --write

Fixed base
  docs/.vuepress/config.es6
Due: none

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/css/0.styles.a2343422.css
  assets/css/0.styles.fd1af294.css
  assets/js/app.1d890be6.js
  index.html
Due: prettier --write

Travis deploy only with new version
  .travis.yml
Due: none

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/js/app.44ff76da.js
  index.html
Due: prettier --write

Travis commit message version condition
  .travis.yml
Due: none

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/js/app.3988504a.js
  index.html
Due: prettier --write

Docs update
  docs/.vuepress/config.es6
  docs/README.md
  docs/constants.md
  docs/export.md
  docs/functions.md
  docs/mixins.md
  docs/readme.md
  readme/const.md
  readme/export.md
Due: prettier --write

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/js/4.0f1abb9b.js
  assets/js/4.46624aeb.js
  assets/js/5.d545d3c9.js
  assets/js/6.c389ee94.js
  assets/js/7.a71df813.js
  assets/js/8.ab8d3a05.js
  assets/js/app.3988504a.js
  assets/js/app.f77bf738.js
  constants.html
  export.html
  functions.html
  index.html
  mixins.html
Due: prettier --write

Removes string from mq direction value
  dist/const.scss
  dist/fn/media-query.scss
Due: prettier --write, stylelint --fix

New function for string interpolation
  dist/fn.scss
  dist/fn/compute-props.scss
  dist/fn/compute-template.scss
  dist/fn/interpolate.scss
Due: prettier --write, stylelint --fix

Simplified main main readme
  README.md
Due: prettier --write

Removed commit message
  .travis.yml
Due: none

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/js/app.a9032735.js
  constants.html
  export.html
  functions.html
  index.html
  mixins.html
Due: prettier --write

v0.5.0
  package.json
Due: none

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/js/app.ff8b2d5d.js
  constants.html
  export.html
  functions.html
  index.html
  mixins.html
Due: prettier --write

Dependency updates
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,scss,md}
  stylelint --fix: any of: **/*.scss
