Repository Eterion/ES6css: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

New config and modified styles
  docs/.vuepress/config.es6
  docs/.vuepress/config.js
  docs/.vuepress/style.styl
Due: prettier --write

Tip component
  docs/.vuepress/components/Tip.vue
Due: none

Added percentage to defaults
  dist/fn/color-spectrum.scss
Due: prettier --write, stylelint --fix

New style colors
  docs/.vuepress/override.styl
  docs/.vuepress/style.styl
Due: none

Complete overhaul of constants readme, added functions and mixins
  docs/.vuepress/config.js
  docs/const.md
  docs/constants.md
  docs/export.md
  docs/fn.md
  docs/functions.md
  docs/mixin.md
  docs/mixins.md
Due: prettier --write

Updated template replacements
  docs/const.md
Due: prettier --write

Shorter constant for relative units
  dist/const.scss
  dist/fn/em-always.scss
  dist/fn/em.scss
  dist/fn/rem-always.scss
  dist/fn/rem.scss
  docs/const.md
  docs/fn.md
Due: prettier --write, stylelint --fix

Constant mentions replaced with links
  dist/fn/em-always.scss
  dist/fn/rem-always.scss
  docs/fn.md
Due: prettier --write, stylelint --fix

Added prev and next links
  docs/const.md
  docs/fn.md
  docs/guide.md
  docs/mixin.md
Due: prettier --write

New homepage
  docs/.vuepress/public/hero.png
  docs/README.md
Due: prettier --write

Added footer license
  docs/README.md
Due: prettier --write

Removed defaults parameter from export mixin docs
  docs/mixin.md
Due: prettier --write

Removed navbar shadow
  docs/.vuepress/style.styl
Due: none

Simplified readme
  README.md
Due: prettier --write

New guide docs
  docs/guide.md
Due: prettier --write

v1.0.0
  package.json
Due: none

Typos and polish
  docs/README.md
  docs/const.md
  docs/guide.md
Due: prettier --write

v1.0.1
  package.json
Due: none

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/css/0.styles.0a1f4f31.css
  assets/css/0.styles.fd1af294.css
  assets/js/3.c235d3b9.js
  assets/js/3.c764d050.js
  assets/js/4.0f1abb9b.js
  assets/js/4.b978a730.js
  assets/js/5.d545d3c9.js
  assets/js/5.e48c4c3f.js
  assets/js/6.050aa36f.js
  assets/js/6.c389ee94.js
  assets/js/7.13ecc02a.js
  assets/js/7.a71df813.js
  assets/js/8.ab8d3a05.js
  assets/js/8.bcd50322.js
  assets/js/9.3e7daa1e.js
  assets/js/app.e027cbbb.js
  assets/js/app.ff8b2d5d.js
  const.html
  constants.html
  export.html
  fn.html
  functions.html
  guide.html
  hero.png
  index.html
  mixin.html
  mixins.html
Due: prettier --write

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/js/app.5c67fff9.js
  const.html
  fn.html
  guide.html
  index.html
  mixin.html
Due: prettier --write

Google Analytics
  docs/.vuepress/config.js
Due: prettier --write

Deploy Eterion/esm-scss to github.com/Eterion/esm-scss.git:gh-pages
  404.html
  assets/js/app.e7d85f00.js
  const.html
  fn.html
  guide.html
  index.html
  mixin.html
Due: prettier --write

Dev dependency update
  package.json
  yarn.lock
Due: none

Fixed typo
  docs/fn.md
Due: prettier --write

Perttify
  dist/const/color.scss
  dist/const/font.scss
  dist/const/media.scss
  dist/export.scss
  dist/fn/clear-unit.scss
  dist/fn/color-spectrum.scss
  dist/fn/color.scss
  dist/fn/compute-props.scss
  dist/fn/em.scss
  dist/fn/err.scss
  dist/fn/get.scss
  dist/fn/interpolate.scss
  dist/fn/map-deep-get.scss
  dist/fn/map-filter.scss
  dist/fn/map-key-get.scss
  dist/fn/media-query.scss
  dist/fn/media.scss
  dist/fn/str-replace.scss
  dist/fn/to-unicode.scss
  dist/mixin/export.scss
  dist/mixin/extend.scss
  dist/mixin/has-class.scss
  dist/mixin/import.scss
  dist/mixin/media-up-from.scss
  dist/mixin/media-up-to.scss
  dist/mixin/props.scss
  dist/mixin/size.scss
  dist/mixin/tiles-container.scss
  dist/mixin/tiles-item.scss
  dist/mixin/tiles.scss
  dist/mixin/transition.scss
  dist/mixin/z-index.scss
Due: prettier --write, stylelint --fix

New function for inserting items in list and maps at specific index
  dist/fn/_insert-nth.scss
Due: prettier --write, stylelint --fix

Update of error messages
  dist/_fn.scss
  dist/fn/_color.scss
  dist/fn/_em.scss
  dist/fn/_err.scss
  dist/fn/_insert-nth.scss
  dist/mixin/_media-only.scss
  dist/mixin/_size.scss
  dist/mixin/_z-index.scss
Due: prettier --write, stylelint --fix

Function now accepts larger index values, throws warnin when out of range index is used
  dist/fn/_insert-nth.scss
Due: prettier --write, stylelint --fix

Functions separated into two groups
  dist/_esm.scss
  dist/_fn.scss
  dist/_utils.scss
  dist/mixin/_media-between.scss
  dist/mixin/_media-only.scss
  dist/utils/_clear-unit.scss
  dist/utils/_color-spectrum.scss
  dist/utils/_insert-nth.scss
  dist/utils/_interpolate.scss
  dist/utils/_map-deep-get.scss
  dist/utils/_map-filter.scss
  dist/utils/_str-replace.scss
  dist/utils/_to-class.scss
  dist/utils/_to-id.scss
  dist/utils/_to-unicode.scss
Due: prettier --write, stylelint --fix

New function for map sorting
  dist/utils/_map-sort.scss
Due: prettier --write, stylelint --fix

Fix of media scale order
  dist/const/_media.scss
Due: prettier --write, stylelint --fix

Made internal
  dist/_fn.scss
  dist/fn/_map-key-get.scss
Due: prettier --write, stylelint --fix

Comment update
  dist/utils/_insert-nth.scss
Due: prettier --write, stylelint --fix

Added missing functions and removed internal functions from docs
  docs/fn.md
Due: prettier --write

Added task to create demo files
  package.json
Due: none

Dependency update
  package.json
  yarn.lock
Due: none

Scrapped guide docs
  docs/.vuepress/config.js
  docs/const.md
Due: prettier --write

Fixed calculated max value
  dist/fn/_media-query.scss
Due: prettier --write, stylelint --fix

Ignore prettifying css files
  .prettierignore
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,scss,md}
  stylelint --fix: any of: **/*.scss
