Repository Eterion/ES6css: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Docs: variables renamed to constants
  scripts/docs.js
Due: prettier --write

Docs: new documentation for all constants
  README.md
  dist/_const.scss
  dist/_esm.scss
  dist/fn/_compute-props.scss
Due: prettier --write, stylelint --fix

Updated monochrome and palette functions, added annotations
  dist/fn/_monochrome.scss
  dist/fn/_palette.scss
Due: prettier --write, stylelint --fix

Fixed typo
  dist/_const.scss
Due: prettier --write, stylelint --fix

Updated spectrum function
  dist/_fn.scss
  dist/fn/_color-spectrum.scss
  dist/fn/_spectrum.scss
Due: prettier --write, stylelint --fix

Added access annotation
  dist/_const.scss
Due: prettier --write, stylelint --fix

Docs: take into account access annotation
  scripts/docs.js
Due: prettier --write

Updated docs
  README.md
Due: prettier --write

New math for monochrome function
  dist/fn/_monochrome.scss
  dist/fn/_palette.scss
Due: prettier --write, stylelint --fix

Unified boolean param types
  dist/fn/_color.scss
  dist/fn/_get.scss
  dist/mixin/_export.scss
  dist/mixin/_extend.scss
  dist/mixin/_size.scss
Due: prettier --write, stylelint --fix

Improved returned values of monochrome and palette functions
  dist/_esm.scss
  dist/fn/_hue-name.scss
  dist/fn/_monochrome.scss
  dist/fn/_palette.scss
Due: prettier --write, stylelint --fix

Update palette annotations
  dist/fn/_palette.scss
Due: prettier --write, stylelint --fix

Experimental javascript alternatives of some color functions
  .prettierignore
  dist/index.d.ts
  dist/index.js
  index.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

Make parameter names and defaults nowrap
  scripts/docs.js
Due: prettier --write

Prettier --fix
  README.md
Due: prettier --write

Added missing default flag
  dist/_esm.scss
Due: prettier --write, stylelint --fix

Removed desaturate option from palette function
  dist/fn/_palette.scss
Due: prettier --write, stylelint --fix

Parameter fix
  dist/fn/_palette.scss
Due: prettier --write, stylelint --fix

Javascript source files moved to src directory, added comments
  dist/index.d.ts
  dist/index.js
  src/index.ts
  tsconfig.json
Due: prettier --write

v2.0.0-beta.1
  package.json
Due: none

Removed last updated note
  README.md
  scripts/docs.js
Due: prettier --write

Prepack script
  package.json
Due: none

Fixed js spectrum function
  dist/index.js
  src/index.ts
Due: prettier --write

v2.0.0-beta.2
  package.json
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,scss,md}
  stylelint --fix: any of: **/*.scss
